body { padding-top: 60px; }
#border { background: #a5ebff; position: fixed; top: 0; bottom: 0; width: 10px; left: 0; }
html.development #border { background: #24B200; }
html.master #border { background: #0066B3; }
html.stable #border{ background: #f89406; }
html.production #border{ background: #B20000; }
section { padding-top: 10px; }
#content { margin-bottom: 60px; }
footer, #footer { margin-top: 17px; margin-bottom: 20px; padding-top: 17px; border-top: 1px solid #EEE; }
.page-header img { float:right; }
.row h3 { line-height: 24px; }
ul.breadcrumb li.right { float: right; }
ul.breadcrumb span.label { display: inline; }
.modal form {margin: 0;}
table.table-condensed th, table.table-condensed td { padding: 6px 6px 5px; line-height: 15px; }
table.table th { border-top: 0; border-bottom: 2px solid #ddd; }
table.table tr:hover td { background-color: #e9e9F9 !important; }
table.table tr.active td { background-color: #E9E9A9 !important; }
.label_active { background-color: #46a546; }
.label_inactive { background-color: #9d261d; }
.label_failed { background-color: #9d261d; }
dd code { border: 0; }

@media (max-width: 980px) {
	body { padding-top: 0; }
	#border { display: none; }
	.navbar-fixed-top .navbar-inner { padding: 0 5px; }
	.navbar-inner .container { height: inherit; }
}
